<div>
  <form action="/register" method="post">
      <input type="email" name="email"/></br>
      <input type="password" name="password"/></br>
      <input type="submit" value="Ok"/>
  </form>
</div>
