<% script('/browserify/app.js?v=0.2.3') %>

<section id="userapp"></section>
<footer id="info">
	<p>Double-click to edit a event</p>
	<p>React by <a href="http://github.com/petehunt/">petehunt</a></p>
	<p>Extended by <a href="http://github.com/mixxen/">mixxen</a></p>
	<p>Part of<a href="http://todomvc.com">TodoMVC</a></p>
</footer>
